body {
  font-family: Arial, sans-serif;
  background: #0f1724;
  color: white;
  padding: 20px;
  margin: 0;
}

h1, h2 {
  color: #ffffff;
}

ul {
  padding-left: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #1a2333;
  color: #fff;
}

button {
  background: purple;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #b300b3;
}


